In [1]:
from mod.magicquant import magic_by_pd

In [2]:
magic_by_pd('C:\\Users\\gjals\Desktop\\코딩\\파이썬으로 퀀트투자 만들기\\per.xlsx')

              per   per랭킹     roa   roa랭킹    종합랭크
회사명
이엠앤아이        1.24     3.0  292.86     1.0     1.0
지와이커머스       1.28     4.0  133.52     2.0     2.0
양지사          1.22     2.0   51.24     5.0     3.0
미래아이앤지       1.43     6.0   39.36     6.0     4.0
KG ETS       1.15     1.0   28.52    13.0     5.0
...           ...     ...     ...     ...     ...
알에스오토메이션   656.00  1280.0    0.14  1280.5  1287.0
이아이디       572.50  1277.0    0.10  1287.0  1288.0
코아시아       831.33  1282.0    0.09  1289.0  1289.0
유티아이      2047.00  1290.0    0.12  1284.0  1290.0
안국약품      1024.00  1287.0    0.09  1289.0  1291.0

[1291 rows x 5 columns]