In [3]:
def magic_by_pd(path): # 함수 만듬
    import pandas as pd # 판다스 임포트

    per_data = pd.read_excel(path, sheet_name='per', index_col=0)
    # per_data인수 설정 pd모듈에 read_excel 엑셀 불러옴 path(경로), index_col=0(데이터의 회사명을 인덱스로 지정할것인데, 이 열이 엑셀의 첫번째열이기 때문에 0이라는 인덱스를 지정)
    filtered_per = per_data[per_data['per'] > 0]
    # per_data를 per > 0 인것만 남김
    sorted_per = filtered_per.sort_values(by='per')
    #filtered_per 를 per 오름차순으로 정렬
    sorted_per['per랭킹'] = sorted_per['per'].rank()
    # 정렬된 거에 랭킹 순위를 매김


    roa_data = pd.read_excel(path, sheet_name='roa', index_col=0)
    filtered_roa = roa_data.dropna()
    # rod 데이터가 누락된거 거름
    filtered_roa.columns = ['roa']
    #roa 칼럼(엑셀 맨윗줄 이름) 을 roa로 바꿈
    sorted_roa = filtered_roa.sort_values(by='roa', ascending=False)
    #roa 를 정렬 하는데 내림차순 정렬을 위해 acending=False사용
    sorted_roa['roa랭킹'] = sorted_roa.rank(ascending=False)
    #정렬된 roa에 내림차순 순위를 매김

    total_df = pd.merge(sorted_per, sorted_roa, how='inner', left_index=True, right_index=True)
    #merge함수를 이용해서 per, roa랭킹을 합침 , how inner(공통된 데이터프레임을 병합) outer(두기준열에 모두 포함되는 데이터 병합)  
    # left, right_index=True 각프레임의 인덱스를 기준으로 병합 하는 것 

    total_df['종합랭크'] = (total_df['per랭킹'] + total_df['roa랭킹']).rank()
    #total_df 종합랭크 순위 매김
    return total_df.sort_values(by='종합랭크') #종합랭크 리턴

In [4]:
magic_by_pd('C:\\Users\\gjals\Desktop\\코딩\\파이썬으로 퀀트투자 만들기\\per.xlsx')

              per   per랭킹     roa   roa랭킹    종합랭크
회사명
이엠앤아이        1.24     3.0  292.86     1.0     1.0
지와이커머스       1.28     4.0  133.52     2.0     2.0
양지사          1.22     2.0   51.24     5.0     3.0
미래아이앤지       1.43     6.0   39.36     6.0     4.0
KG ETS       1.15     1.0   28.52    13.0     5.0
...           ...     ...     ...     ...     ...
알에스오토메이션   656.00  1280.0    0.14  1280.5  1287.0
이아이디       572.50  1277.0    0.10  1287.0  1288.0
코아시아       831.33  1282.0    0.09  1289.0  1289.0
유티아이      2047.00  1290.0    0.12  1284.0  1290.0
안국약품      1024.00  1287.0    0.09  1289.0  1291.0

[1291 rows x 5 columns]