In [162]:
import pandas as pd

fs_path = r'C:\Users\gjals\Desktop\코딩\재무데이터.xlsx'
pd.read_excel(fs_path)

,Unnamed: 0,2012/02,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,2013/02,Unnamed: 9,...,Unnamed: 250,Unnamed: 251,Unnamed: 252,2020/08,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259
0,NaN,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익,매출액,...,영업활동으로인한현금흐름,자본,자산,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A060310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1,329,488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A095570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-267,3356,17784,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A006840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1801,12061,41396,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2253,A010240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,702,1029,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2254,A189980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7,649,937,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2255,A003280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-159,242,3674,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2256,A037440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,101,546,1596,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2257,A238490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
raw_data = pd.read_excel(fs_path)
big_col = list(raw_data.columns)
small_col = list(raw_data.iloc[0])

In [164]:
big_col[0] = ''

In [165]:
small_col[0] = '종목'

In [166]:
new_big_col = []
for num, col in enumerate(big_col):
    if 'Unnamed' in col:
        new_big_col.append(new_big_col[num-1])
    else:
        new_big_col.append(big_col[num])

In [167]:
raw_data.columns = [new_big_col, small_col]

In [168]:
raw_data

              2012/02                                         2013/02       \
           종목   당기순이익  매출액   부채  영업이익  영업활동으로인한현금흐름   자본   자산   당기순이익  매출액
0         NaN   당기순이익  매출액   부채  영업이익  영업활동으로인한현금흐름   자본   자산   당기순이익  매출액
1         NaN     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN
2     A060310     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN
3     A095570     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN
4     A006840     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN
...       ...     ...  ...  ...   ...           ...  ...  ...     ...  ...
2253  A010240     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN
2254  A189980     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN
2255  A003280     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN
2256  A037440     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN
2257  A238490     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN

      ...       2020/06               2020/08                                \
      ...  영업활동으로인한현금흐름     자본     자산   당기순이익  매출액   부채  영업이익  영업활동으로인한현금흐름
0     ...  영업활동으로인한현금흐름     자본     자산   당기순이익  매출액   부채  영업이익  영업활동으로인한현금흐름
1     ...           NaN    NaN    NaN     NaN  NaN  NaN   NaN           NaN
2     ...            -1    329    488     NaN  NaN  NaN   NaN           NaN
3     ...          -267   3356  17784     NaN  NaN  NaN   NaN           NaN
4     ...         -1801  12061  41396     NaN  NaN  NaN   NaN           NaN
...   ...           ...    ...    ...     ...  ...  ...   ...           ...
2253  ...             6    702   1029     NaN  NaN  NaN   NaN           NaN
2254  ...            -7    649    937     NaN  NaN  NaN   NaN           NaN
2255  ...          -159    242   3674     NaN  NaN  NaN   NaN           NaN
2256  ...           101    546   1596     NaN  NaN  NaN   NaN           NaN
2257  ...           NaN    NaN    NaN     NaN  NaN  NaN   NaN           NaN


       자본   자산
0      자본   자산
1     NaN  NaN
2     NaN  NaN
3     NaN  NaN
4     NaN  NaN
...   ...  ...
2253  NaN  NaN
2254  NaN  NaN
2255  NaN  NaN
2256  NaN  NaN
2257  NaN  NaN

[2258 rows x 260 columns]

In [169]:
raw_data = raw_data.drop(0)

In [170]:
fs_df = raw_data.drop(1)

In [171]:
fs_df

              2012/02                                       2013/02       ...  \
           종목   당기순이익  매출액   부채 영업이익 영업활동으로인한현금흐름   자본   자산   당기순이익  매출액  ...
2     A060310     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  ...
3     A095570     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  ...
4     A006840     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  ...
5     A054620     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  ...
6     A265520     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  ...
...       ...     ...  ...  ...  ...          ...  ...  ...     ...  ...  ...
2253  A010240     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  ...
2254  A189980     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  ...
2255  A003280     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  ...
2256  A037440     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  ...
2257  A238490     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  ...

          2020/06               2020/08
     영업활동으로인한현금흐름     자본     자산   당기순이익  매출액   부채 영업이익 영업활동으로인한현금흐름   자본   자산
2              -1    329    488     NaN  NaN  NaN  NaN          NaN  NaN  NaN
3            -267   3356  17784     NaN  NaN  NaN  NaN          NaN  NaN  NaN
4           -1801  12061  41396     NaN  NaN  NaN  NaN          NaN  NaN  NaN
5             -25   2073   2963     NaN  NaN  NaN  NaN          NaN  NaN  NaN
6              67   1264   4321     NaN  NaN  NaN  NaN          NaN  NaN  NaN
...           ...    ...    ...     ...  ...  ...  ...          ...  ...  ...
2253            6    702   1029     NaN  NaN  NaN  NaN          NaN  NaN  NaN
2254           -7    649    937     NaN  NaN  NaN  NaN          NaN  NaN  NaN
2255         -159    242   3674     NaN  NaN  NaN  NaN          NaN  NaN  NaN
2256          101    546   1596     NaN  NaN  NaN  NaN          NaN  NaN  NaN
2257          NaN    NaN    NaN     NaN  NaN  NaN  NaN          NaN  NaN  NaN

[2256 rows x 260 columns]

In [151]:
fs_df.index

Int64Index([   2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
            ...
            2248, 2249, 2250, 2251, 2252, 2253, 2254, 2255, 2256, 2257],
           dtype='int64', length=2256)

In [245]:
def get_finance_data(path):
    data_path = path
    raw_data = pd.read_excel(data_path)
    big_col = list(raw_data.columns)
    small_col = list(raw_data.iloc[0])
    
    big_col[0] = '종목'
    small_col[0] = ''
    new_big_col = []
    for num, col in enumerate(big_col):
        if 'Unnamed' in col:
            new_big_col.append(new_big_col[num-1])
        else:
            new_big_col.append(big_col[num])

    raw_data.columns = [new_big_col, small_col]
    raw_data = raw_data.drop(0)
    clean_df = raw_data.drop(1)

    return clean_df

In [270]:
#데이터 전처리 개선
def get_finance_data(path):
    data_path = path
    raw_data = pd.read_excel(data_path)
    big_col = list(raw_data.columns)
    small_col = list(raw_data.iloc[0])
    
    big_col[0] = '종목'
    small_col[0] = ''
    new_big_col = []
    for num, col in enumerate(big_col):
        if 'Unnamed' in col:
            new_big_col.append(new_big_col[num-1])
        else:
            new_big_col.append(big_col[num])

    raw_data.columns = [new_big_col, small_col]
    raw_data = raw_data.drop(0)
    clean_df = raw_data.drop(1)

    if clean_df.index[0]  == clean_df['종목'][2]:
         pass
    else:
        for i in clean_df.index:
            clean_df = clean_df.rename(index={i : clean_df['종목'][i]})

    clean_df = clean_df.drop(clean_df.columns[0:1], axis=1, inplace=False)

    return clean_df

In [397]:
fs_path = r'C:\Users\gjals\Desktop\코딩\재무데이터.xlsx'
fs_df = get_finance_data(fs_path)

In [273]:
fr_path = r'C:\Users\gjals\Desktop\코딩\재무비율데이터.xlsx'
fr_df = get_finance_data(fr_path)

In [274]:
invest_path = r'C:\Users\gjals\Desktop\코딩\투자지표데이터.xlsx'
invest_df = get_finance_data(invest_path)

In [275]:
invest_df.sort_values(by=('2020/06', 'PER'))

        2011/02                      2012/02                       ...  \
            PBR  PCR  PER  PSR 총현금흐름     PBR  PCR  PER  PSR 총현금흐름  ...
A030960     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A021820     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A189690     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A178600     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A097870     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
...         ...  ...  ...  ...   ...     ...  ...  ...  ...   ...  ...
A010240     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A189980     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A003280     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A037440     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A238490     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...

        2020/06                           2020/08
            PBR    PCR    PER   PSR 총현금흐름     PBR  PCR  PER  PSR 총현금흐름
A030960    0.81   1.25   1.28  3.16    36     NaN  NaN  NaN  NaN   NaN
A021820    0.19   2.30  10.65  0.52   214     NaN  NaN  NaN  NaN   NaN
A189690    1.09  10.74  11.99  2.83    49     NaN  NaN  NaN  NaN   NaN
A178600    1.53   9.39  16.68  0.61    47     NaN  NaN  NaN  NaN   NaN
A097870    0.79  18.13  34.07  1.85    31     NaN  NaN  NaN  NaN   NaN
...         ...    ...    ...   ...   ...     ...  ...  ...  ...   ...
A010240    0.68    NaN    NaN   NaN    74     NaN  NaN  NaN  NaN   NaN
A189980    0.89    NaN    NaN   NaN    36     NaN  NaN  NaN  NaN   NaN
A003280    1.18    NaN    NaN   NaN    40     NaN  NaN  NaN  NaN   NaN
A037440    0.83    NaN    NaN   NaN    36     NaN  NaN  NaN  NaN   NaN
A238490     NaN    NaN    NaN   NaN   NaN     NaN  NaN  NaN  NaN   NaN

[2256 rows x 240 columns]

In [278]:
invest_df[('2016/12', 'PER')] = pd.to_numeric(invest_df[('2016/12', 'PER')]) #tonumeric 해당 칼럼전체를 숫자형으로 바꿔 덮어 씌움
per_sorted = invest_df.sort_values(by=('2016/12', 'PER'))

In [279]:
per_sorted

        2011/02                      2012/02                       ...  \
            PBR  PCR  PER  PSR 총현금흐름     PBR  PCR  PER  PSR 총현금흐름  ...
A001470     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A064520     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A151910     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A084110     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A032940     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
...         ...  ...  ...  ...   ...     ...  ...  ...  ...   ...  ...
A028080     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A212310     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A005010     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A003280     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A238490     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...

        2020/06                      2020/08
            PBR  PCR  PER  PSR 총현금흐름     PBR  PCR  PER  PSR 총현금흐름
A001470    0.43  NaN  NaN  NaN    34     NaN  NaN  NaN  NaN   NaN
A064520    1.91  NaN  NaN  NaN    -5     NaN  NaN  NaN  NaN   NaN
A151910   13.19  NaN  NaN  NaN    29     NaN  NaN  NaN  NaN   NaN
A084110    0.91  NaN  NaN  NaN   438     NaN  NaN  NaN  NaN   NaN
A032940    0.62  NaN  NaN  NaN    61     NaN  NaN  NaN  NaN   NaN
...         ...  ...  ...  ...   ...     ...  ...  ...  ...   ...
A028080    0.23  NaN  NaN  NaN  -175     NaN  NaN  NaN  NaN   NaN
A212310     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
A005010    0.13  NaN  NaN  NaN    24     NaN  NaN  NaN  NaN   NaN
A003280    1.18  NaN  NaN  NaN    40     NaN  NaN  NaN  NaN   NaN
A238490     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN

[2256 rows x 240 columns]

In [280]:
per_sorted['2020/06']

           PBR  PCR  PER  PSR 총현금흐름
A001470   0.43  NaN  NaN  NaN    34
A064520   1.91  NaN  NaN  NaN    -5
A151910  13.19  NaN  NaN  NaN    29
A084110   0.91  NaN  NaN  NaN   438
A032940   0.62  NaN  NaN  NaN    61
...        ...  ...  ...  ...   ...
A028080   0.23  NaN  NaN  NaN  -175
A212310    NaN  NaN  NaN  NaN   NaN
A005010   0.13  NaN  NaN  NaN    24
A003280   1.18  NaN  NaN  NaN    40
A238490    NaN  NaN  NaN  NaN   NaN

[2256 rows x 5 columns]

In [282]:
fr_df[('2016/12', 'ROA')] = pd.to_numeric(fr_df[('2016/12', 'ROA')])

ValueError: Unable to parse string "N/A(IFRS)" at position 258

In [283]:
import numpy as np #numpy 모듈에서 NaN 타입의 데이터를제공

def check_IFRS(x):
    if x == 'N/A(IFRS)':
        return np.NaN
    else:
        return x

fr_df[('2016/12', 'ROA')] = fr_df[('2016/12', 'ROA')].apply(check_IFRS)

In [284]:
fr_df[('2016/12', 'ROA')] = pd.to_numeric(fr_df[('2016/12', 'ROA')])
sorted_roa = fr_df.sort_values(by=('2016/12', 'ROA'), ascending=False)

In [311]:
def low_per(invest_df, index_date, num):
    invest_df[(index_date, 'PER')] = pd.to_numeric(invest_df[(index_date, 'PER')])
    per_sorted = invest_df.sort_values(by=(index_date, 'PER'))
    return per_sorted[index_date][:num]

In [312]:
low_per(invest_df, '2016/12', 10)

          PBR   PCR   PER    PSR 총현금흐름
A001470  0.24  0.11  0.11   0.07  -331
A064520  0.00  0.04  0.17   0.00    79
A151910  3.85  0.16  0.19   0.14  -454
A084110  1.05  0.61  0.62   1.95   297
A032940  0.58  0.84  0.86   1.11    38
A101000  0.22  0.88  1.09   0.08   144
A003080  0.71  1.49  1.51   1.95    19
A005960  0.83  1.48  1.58   0.14   201
A000230  1.77  1.65  1.72  11.25    87
A030530  0.86  2.06  2.24   1.51   572

In [313]:
fr_df[('2016/12', 'ROA')] = pd.to_numeric(fr_df[('2016/12', 'ROA')])

In [314]:
fr_df[('2016/12', 'ROA')]

A060310     NaN
A095570     0.9
A006840     5.1
A054620     6.4
A265520     NaN
           ...
A010240     5.1
A189980     4.7
A003280    -2.0
A037440     1.5
A238490    13.6
Name: (2016/12, ROA), Length: 2241, dtype: float64

In [315]:
import numpy as np

def check_IFRS(x):
    if x == 'N/A(IFRS)':
        return np.NaN
    else:
        return x

fr_df[('2016/12', 'ROA')] = fr_df[('2016/12', 'ROA')].apply(check_IFRS)

In [316]:
fr_df[('2016/12', 'ROA')] = pd.to_numeric(fr_df[('2016/12', 'ROA')])
sorted_roa = fr_df.sort_values(by=('2016/12', 'ROA'), ascending=False)

In [295]:
sorted_roa[('2016/12', 'ROA')]

A084110    120.8
A299670     98.8
A089970     89.4
A225570     69.7
A000230     58.5
           ...
A298050      NaN
A298020      NaN
A298000      NaN
A290270      NaN
A243070      NaN
Name: (2016/12, ROA), Length: 2241, dtype: float64

In [317]:
def high_roa(fr_df, index_date, num):
    fr_df[(index_date, 'ROA')] = fr_df[(index_date, 'ROA')].apply(check_IFRS)
    fr_df[(index_date, 'ROA')] = pd.to_numeric(fr_df[(index_date, 'ROA')])
    sorted_roa = fr_df.sort_values(by=(index_date, 'ROA'), ascending=False)
    return sorted_roa[index_date][:num]

In [318]:
high_roa(fr_df, '2016/12', 10)

           ROA   ROIC   부채비율 영업이익률   유동비율
A084110  120.8    8.2   22.7  17.7  244.2
A299670   98.8  511.8   94.6  35.5  204.6
A089970   89.4  182.6   78.5  24.8  154.3
A225570   69.7  230.0   32.0  40.3  560.5
A000230   58.5   -1.5   91.0  -9.2  162.5
A035620   57.3   45.9   52.1  36.0  178.8
A032940   53.1    6.9   50.7   3.7   61.2
A003080   49.7    1.7   21.2   2.2  471.7
A900310   45.8   70.4   24.9  57.8  373.4
A260930   44.2  121.1  105.2  20.0  173.8

In [319]:
date = '2016/12'
per = low_per(invest_df, date, None)
roa = high_roa(fr_df, date, None)

In [320]:
per['per순위'] = per['PER'].rank()

In [321]:
roa['roa순위'] = roa['ROA'].rank(ascending=False)

In [322]:
(per['per순위'] + roa['roa순위']).sort_values()

A084110     5.0
A032940    12.0
A000230    14.0
A003080    15.0
A151910    29.0
           ...
A950160     NaN
A950170     NaN
A950180     NaN
A950190     NaN
A950200     NaN
Length: 2256, dtype: float64

In [323]:
(per['per순위'] + roa['roa순위']).rank().sort_values()

A084110    1.0
A032940    2.0
A000230    3.0
A003080    4.0
A151910    5.0
          ...
A950160    NaN
A950170    NaN
A950180    NaN
A950190    NaN
A950200    NaN
Length: 2256, dtype: float64

In [324]:
magic = pd.merge(per, roa, how='outer', left_index=True, right_index=True)
magic['마법공식 순위'] = (magic['per순위'] + magic['roa순위']).rank().sort_values()
magic = magic.sort_values(by='마법공식 순위')

In [325]:
magic

,PBR,PCR,PER,PSR,총현금흐름,per순위,ROA,ROIC,부채비율,영업이익률,유동비율,roa순위,마법공식 순위
A084110,1.05,0.61,0.62,1.95,297,4.0,120.8,8.2,22.7,17.7,244.2,1.0,1.0
A032940,0.58,0.84,0.86,1.11,38,5.0,53.1,6.9,50.7,3.7,61.2,7.0,2.0
A000230,1.77,1.65,1.72,11.25,87,9.0,58.5,-1.5,91.0,-9.2,162.5,5.0,3.0
A003080,0.71,1.49,1.51,1.95,19,7.0,49.7,1.7,21.2,2.2,471.7,8.0,4.0
A151910,3.85,0.16,0.19,0.14,-454,3.0,29.9,-162.0,188.4,-130.0,72.9,26.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
A950160,NaN,NaN,NaN,NaN,-19,NaN,-13.1,-82.5,234.7,-29.5,784.3,1833.5,NaN
A950170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A950180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A950190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A950200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [326]:
def magic_formula(fr_df, invest_df, index_date, num):
    per = low_per(invest_df, index_date, None)
    roa = high_roa(fr_df, index_date, None)
    per['per순위'] = per['PER'].rank()
    roa['roa순위'] = roa['ROA'].rank(ascending=False)
    magic = pd.merge(per, roa, how='outer', left_index=True, right_index=True)
    magic['마법공식 순위'] = (magic['per순위'] + magic['roa순위']).rank().sort_values()
    magic = magic.sort_values(by='마법공식 순위')
    return magic[:num]

In [327]:
magic_formula(fr_df, invest_df, '2016/12', 10)

,PBR,PCR,PER,PSR,총현금흐름,per순위,ROA,ROIC,부채비율,영업이익률,유동비율,roa순위,마법공식 순위
A084110,1.05,0.61,0.62,1.95,297,4.0,120.8,8.2,22.7,17.7,244.2,1.0,1.0
A032940,0.58,0.84,0.86,1.11,38,5.0,53.1,6.9,50.7,3.7,61.2,7.0,2.0
A000230,1.77,1.65,1.72,11.25,87,9.0,58.5,-1.5,91.0,-9.2,162.5,5.0,3.0
A003080,0.71,1.49,1.51,1.95,19,7.0,49.7,1.7,21.2,2.2,471.7,8.0,4.0
A151910,3.85,0.16,0.19,0.14,-454,3.0,29.9,-162.0,188.4,-130.0,72.9,26.0,5.0
A030530,0.86,2.06,2.24,1.51,572,10.0,27.2,14.0,18.2,13.7,163.7,32.0,6.0
A001470,0.24,0.11,0.11,0.07,-331,1.0,23.6,NaN,299.3,-9.0,136.0,43.0,7.0
A050120,0.99,3.03,3.12,1.98,28,17.0,26.8,12.0,46.7,6.3,1493.9,33.0,8.0
A010640,1.33,3.18,3.35,1.35,2,19.0,25.7,-0.8,97.5,-0.9,36.0,37.0,9.0
A036620,2.72,3.65,3.81,3.14,-4,27.5,24.2,-8.0,175.7,-7.1,46.6,39.0,10.0

In [328]:
def get_value_rank(invest_df, value_type, index_date, num):
    invest_df[(index_date, value_type)] = pd.to_numeric(invest_df[(index_date, value_type)])
    value_sorted = invest_df.sort_values(by=(index_date, value_type))[index_date]
    value_sorted[value_type + '순위'] = value_sorted[value_type].rank()
    return value_sorted[[value_type, value_type + '순위']][:num]

In [329]:
get_value_rank(invest_df, 'PSR', '2016/12', 10)

          PSR  PSR순위
A064520  0.00    1.0
A037400  0.03    2.5
A016380  0.03    2.5
A011810  0.04    5.0
A082850  0.04    5.0
A042660  0.04    5.0
A083470  0.05    8.5
A071970  0.05    8.5
A024900  0.05    8.5
A038110  0.05    8.5

In [330]:
date = '2016/12'
per = get_value_rank(invest_df, 'PER', date, None)
pbr = get_value_rank(invest_df, 'PBR', date, None)
value_combo = pd.merge(per, pbr, how='outer', right_index=True, left_index=True)
value_combo['종합순위'] = (value_combo['PER순위'] + value_combo['PBR순위']).rank()
value_combo = value_combo.sort_values(by='종합순위')

In [331]:
value_combo[:20]

          PER  PER순위   PBR  PBR순위  종합순위
A064520  0.17    2.0  0.00    1.0   1.0
A001470  0.11    1.0  0.24    8.0   2.0
A101000  1.09    6.0  0.22    6.0   3.0
A076340  2.42   12.0  0.34   27.5   4.0
A019010  4.13   37.0  0.26   11.0   5.0
A003300  4.45   45.0  0.24    8.0   6.0
A015760  4.01   32.0  0.39   46.0   7.5
A001940  4.94   59.0  0.30   19.0   7.5
A900080  4.76   53.0  0.34   27.5   9.0
A058650  5.73   80.5  0.30   19.0  10.0
A007860  3.15   18.0  0.46   82.0  11.0
A001620  4.74   52.0  0.40   49.0  12.0
A037350  3.47   22.0  0.46   82.0  13.0
A196490  4.09   35.0  0.45   73.0  14.0
A183190  5.70   79.0  0.36   34.0  15.0
A013870  5.04   63.0  0.43   60.0  16.0
A012860  4.81   56.0  0.45   73.0  17.0
A016590  6.03   97.5  0.37   37.0  18.0
A003100  5.80   86.5  0.40   49.0  19.0
A023600  4.10   36.0  0.48  102.5  20.0

In [336]:
def make_value_combo(value_list, invest_df, index_date, num):

    for i, value in enumerate(value_list):
        temp_df = get_value_rank(invest_df, value, index_date, None)
        if i == 0:
            value_combo_df = temp_df
            rank_combo = temp_df[value + '순위']
        else:
            value_combo_df = pd.merge(value_combo_df, temp_df, how='outer', right_index=True, left_index=True)
            rank_combo = rank_combo + temp_df[value + '순위']

    value_combo_df['종합순위'] = rank_combo.rank()
    value_combo_df = value_combo_df.sort_values(by='종합순위')

    return value_combo_df[:num]

In [333]:
make_value_combo(['PER', 'PSR', 'PBR', 'PCR'], invest_df, '2016/12', 10)

          PER  PER순위   PSR  PSR순위   PBR  PBR순위   PCR  PCR순위  종합순위
A064520  0.17    2.0  0.00    1.0  0.00    1.0  0.04    1.0   1.0
A001470  0.11    1.0  0.07   15.5  0.24    8.0  0.11    2.0   2.0
A101000  1.09    6.0  0.08   21.5  0.22    6.0  0.88    8.0   3.0
A076340  2.42   12.0  0.13   54.0  0.34   27.5  1.94   35.0   4.0
A007860  3.15   18.0  0.08   21.5  0.46   82.0  1.13   10.0   5.0
A001620  4.74   52.0  0.11   39.0  0.40   49.0  1.52   21.0   6.0
A058650  5.73   80.5  0.13   54.0  0.30   19.0  1.77   27.5   7.0
A012860  4.81   56.0  0.11   39.0  0.45   73.0  1.47   17.0   8.0
A010100  6.40  117.5  0.07   15.5  0.36   34.0  2.04   39.0   9.0
A053700  5.45   75.5  0.10   32.0  0.48  102.5  1.51   20.0  10.0

In [337]:
date = '2017/12'
fs_df_dt = fs_df[date]
fs_df_dt['당기순이익'] > 0

A060310    False
A095570     True
A006840     True
A054620     True
A265520     True
           ...
A010240     True
A189980     True
A003280    False
A037440     True
A238490     True
Name: 당기순이익, Length: 2256, dtype: bool

In [338]:
date = '2017/12'
fscore_df = fs_df[date]
fscore_df['당기순이익점수'] = fscore_df['당기순이익'] > 0
fscore_df['영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > 0
fscore_df['더큰영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > fscore_df['당기순이익']

In [339]:
fscore_df[['당기순이익점수', '영업활동점수', '더큰영업활동점수']]

         당기순이익점수  영업활동점수  더큰영업활동점수
A060310    False   False     False
A095570     True   False     False
A006840     True    True      True
A054620     True    True     False
A265520     True    True      True
...          ...     ...       ...
A010240     True    True     False
A189980     True    True      True
A003280    False   False      True
A037440     True    True      True
A238490     True    True     False

[2256 rows x 3 columns]

In [340]:
fscore_df[['당기순이익점수', '영업활동점수', '더큰영업활동점수']].sum(axis=1)

A060310    0
A095570    1
A006840    3
A054620    2
A265520    3
          ..
A010240    2
A189980    3
A003280    1
A037440    3
A238490    2
Length: 2256, dtype: int64

In [344]:
def get_fscore(fs_df, index_date, num):
    fscore_df = fs_df[index_date]
    fscore_df['당기순이익점수'] = fscore_df['당기순이익'] > 0
    fscore_df['영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > 0
    fscore_df['더큰영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > fscore_df['당기순이익']
    fscore_df['종합점수'] = fscore_df[['당기순이익점수', '영업활동점수', '더큰영업활동점수']].sum(axis=1)
    fscore_df = fscore_df[fscore_df['종합점수'] == 3]
    return fscore_df[:num]

In [342]:
get_fscore(fs_df, '2017/12', None)

,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익점수,영업활동점수,더큰영업활동점수,종합점수
A006840,1854,33925,17927,2656,2809,11521,29448,True,True,True,3
A265520,191,9624,3785,262,557,895,4680,True,True,True,3
A211270,1,300,217,27,71,821,1037,True,True,True,3
A001460,62,1958,3465,172,235,3993,7458,True,True,True,3
A001040,11377,268986,173332,13260,22404,119922,293254,True,True,True,3
...,...,...,...,...,...,...,...,...,...,...,...
A079980,232,11983,4930,266,746,4073,9003,True,True,True,3
A065510,35,704,567,91,99,842,1409,True,True,True,3
A069260,1101,7158,2828,1526,1564,5988,8816,True,True,True,3
A189980,26,449,128,29,56,574,702,True,True,True,3
A037440,37,1595,830,87,85,516,1346,True,True,True,3

In [88]:
#모멘텀

In [398]:
import pandas as pd
price_path = r'C:\Users\gjals\Desktop\코딩\가격데이터.xlsx'
price_df = pd.read_excel(price_path)

#가격데이터 전처리함수
for i in range(0, 1500):
     price_df = price_df.rename(index={i : price_df['Unnamed: 0'][i]})
price_df=price_df.drop(price_df.columns[0:1], axis=1, inplace=False)

In [399]:
price_df

,060310,095570,006840,054620,265520,211270,027410,282330,138930,001460,...,084110,145020,069260,024060,010240,189980,000540,003280,037440,238490
2014-09-19,3105,NaN,62200,5685,NaN,NaN,16289,NaN,16819,281500,...,36447,NaN,24250,2600,2048,NaN,4405,3324,5550,NaN
2014-09-22,3140,NaN,64000,5528,NaN,NaN,16186,NaN,16867,280500,...,36994,NaN,24100,2580,2000,NaN,4415,3201,5530,NaN
2014-09-23,3115,NaN,63400,5394,NaN,NaN,16495,NaN,16963,282000,...,36927,NaN,24050,2765,1988,NaN,4450,3185,5500,NaN
2014-09-24,3095,NaN,64100,5432,NaN,NaN,16521,NaN,17059,284000,...,37200,NaN,24050,2660,1965,NaN,4300,3236,5520,NaN
2014-09-25,3100,NaN,64400,5402,NaN,NaN,16289,NaN,16915,288500,...,36583,NaN,24150,2740,1968,NaN,4270,3194,5420,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-21,2070,3775.0,17700,7950,22600.0,7100.0,4200,136000.0,5610,226000,...,30800,197900.0,23300,6170,5500,1585.0,2845,258,3760,13750.0
2020-10-22,2085,3755.0,17950,7770,22200.0,7020.0,4230,135000.0,5770,231000,...,30000,219900.0,23000,6100,5310,1590.0,2885,258,3760,13400.0
2020-10-23,2065,3660.0,18250,7660,21950.0,7000.0,4225,133500.0,5910,230000,...,30000,211600.0,23300,6130,5210,1580.0,2970,258,3760,13350.0
2020-10-26,2050,3570.0,18150,7230,21550.0,6720.0,4310,129000.0,5810,240500,...,29050,189000.0,22700,5950,5180,1500.0,2865,258,3700,12700.0
2020-10-27,2075,3485.0,17800,7160,21450.0,6770.0,4300,125000.0,5600,243500,...,28600,185800.0,23700,5930,5230,1500.0,2810,258,3685,12600.0

In [400]:
price_df.pct_change(250)

,060310,095570,006840,054620,265520,211270,027410,282330,138930,001460,...,084110,145020,069260,024060,010240,189980,000540,003280,037440,238490
2014-09-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-21,-0.388479,-0.117991,-0.475556,-0.242857,-0.205624,0.077390,-0.324759,-0.300771,-0.218663,-0.056367,...,0.080436,0.568457,0.030973,0.014803,0.143451,-0.070381,-0.099684,-0.373786,-0.162584,0.089281
2020-10-22,-0.382222,-0.131792,-0.460150,-0.230693,-0.198556,0.055639,-0.318841,-0.298701,-0.196379,-0.035491,...,0.045369,0.688953,0.015453,0.008264,0.099379,-0.024540,-0.082671,-0.381295,-0.162584,0.096384
2020-10-23,-0.386330,-0.137809,-0.454410,-0.256311,-0.218861,0.068702,-0.310767,-0.299213,-0.181440,-0.031579,...,0.057679,0.653797,0.021930,0.037225,0.084287,-0.045317,-0.054140,-0.376812,-0.163515,0.051347
2020-10-26,-0.388972,-0.155030,-0.450000,-0.317925,-0.227599,0.033846,-0.299187,-0.335052,-0.198621,0.010504,...,0.020731,0.484274,-0.010893,0.017094,0.099788,-0.093656,-0.086124,-0.364532,-0.190372,-0.050396
2020-10-27,-0.372163,-0.166268,-0.445483,-0.301463,-0.211397,0.039939,-0.283333,-0.343832,-0.215686,0.020964,...,0.006617,0.435314,0.048673,0.034904,0.136957,-0.082569,-0.097913,-0.358209,-0.186534,-0.024994

In [401]:
price_df.pct_change(250).loc['2016-12-29']

060310    0.237778
095570   -0.310710
006840   -0.063545
054620    1.407187
265520         NaN
            ...
189980   -0.602542
000540   -0.132319
003280   -0.227635
037440    0.280397
238490         NaN
Name: 2016-12-29 00:00:00, Length: 2383, dtype: float64

In [402]:
momentum_df = pd.DataFrame(price_df.pct_change(250).loc['2016-12-29'])
momentum_df.columns = ['모멘텀']
momentum_df['모멘텀순위'] = momentum_df['모멘텀'].rank(ascending=False)
momentum_df = momentum_df.sort_values(by='모멘텀순위')

In [403]:
momentum_df

             모멘텀  모멘텀순위
225530  5.816741    1.0
065060  4.498208    2.0
049120  4.452941    3.0
014200  3.949622    4.0
063760  3.400000    5.0
...          ...    ...
284420       NaN    NaN
212310       NaN    NaN
243070       NaN    NaN
145020       NaN    NaN
238490       NaN    NaN

[2383 rows x 2 columns]

In [404]:
def get_momentum_rank(price_df, index_date, date_range, num):
    momentum_df = pd.DataFrame(price_df.pct_change(date_range).loc[index_date])
    momentum_df.columns = ['모멘텀']
    momentum_df['모멘텀순위'] = momentum_df['모멘텀'].rank(ascending=False)
    momentum_df = momentum_df.sort_values(by='모멘텀순위')
    return momentum_df[:num]

In [405]:
get_momentum_rank(price_df, '2020-10-27', 60, 10)

             모멘텀  모멘텀순위
001470  4.357644    1.0
950130  4.328947    2.0
057880  2.475096    3.0
217330  2.224670    4.0
066590  2.201024    5.0
029480  2.134831    6.0
270660  2.095890    7.0
122450  1.848020    8.0
269620  1.839506    9.0
134060  1.814685   10.0

In [406]:
date = '2017/12'
value = make_value_combo(['PER', 'PBR', 'PSR', 'PCR'], invest_df, date, None)
quality = get_fscore(fs_df, date, None)

In [407]:
value_quality = pd.merge(value, quality, how='outer', right_index=True, left_index=True)

In [408]:
value_quality

,PER,PER순위,PBR,PBR순위,PSR,PSR순위,PCR,PCR순위,종합순위,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익점수,영업활동점수,더큰영업활동점수,종합점수
A000020,5.79,113.0,0.91,650.5,1.05,1035.5,4.65,244.0,363.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A000040,NaN,NaN,1.62,1155.0,1.59,1290.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A000050,15.05,594.0,0.55,226.5,1.06,1043.0,6.94,471.0,447.0,253,3608,5749,423,577,6991,12740,True,True,True,3.0
A000070,28.72,945.0,0.78,492.5,0.45,517.0,9.47,692.0,540.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A000080,135.43,1252.0,1.33,1006.0,0.91,939.5,12.98,901.0,920.0,127,18899,22901,872,3449,12175,35076,True,True,True,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A950160,NaN,NaN,19.56,1926.0,698.50,1944.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A950170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A950180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A950190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A950200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [409]:
value_quality_filtered = value_quality[value_quality['종합점수'] == 3]

In [410]:
vq_df = value_quality_filtered.sort_values(by='종합순위')

In [411]:
vq_df

,PER,PER순위,PBR,PBR순위,PSR,PSR순위,PCR,PCR순위,종합순위,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익점수,영업활동점수,더큰영업활동점수,종합점수
A009200,3.82,37.0,0.25,7.5,0.10,35.5,1.01,14.0,1.0,409,10346,12701,698,1161,6456,19157,True,True,True,3.0
A058650,4.52,58.5,0.33,32.0,0.13,65.5,1.78,36.5,3.0,2111,47944,22088,2746,2647,30460,52548,True,True,True,3.0
A016710,6.06,122.0,0.32,26.0,0.14,77.0,2.32,54.0,7.0,322,9031,5851,245,634,5211,11062,True,True,True,3.0
A014790,4.10,44.0,0.49,165.0,0.12,57.5,3.36,108.0,10.0,466,16415,18215,1495,770,3926,22141,True,True,True,3.0
A006200,8.55,250.5,0.30,21.0,0.15,88.5,2.14,45.5,14.0,50,2464,1423,62,158,2625,4048,True,True,True,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A341310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,177,37,35,31,64,101,True,True,True,3.0
A347740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,83,12,43,44,124,136,True,True,True,3.0
A352820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,246,924,207,325,392,405,612,True,True,True,3.0
A900070,NaN,NaN,0.71,409.5,0.58,658.0,10.31,750.0,NaN,7,1047,431,38,27,916,1346,True,True,True,3.0
A900340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168,840,243,240,188,449,693,True,True,True,3.0

In [412]:
def get_value_quality(invest_df, fs_df, index_date, num):
    value = make_value_combo(['PER', 'PBR', 'PSR', 'PCR'], invest_df, index_date, None)
    quality = get_fscore(fs_df, index_date, None)
    value_quality = pd.merge(value, quality, how='outer', right_index=True, left_index=True)
    value_quality_filtered = value_quality[value_quality['종합점수'] == 3]
    vq_df = value_quality_filtered.sort_values(by='종합순위')
    return vq_df[:num]

In [413]:
get_value_quality(invest_df, fs_df, '2017/12', 10)

,PER,PER순위,PBR,PBR순위,PSR,PSR순위,PCR,PCR순위,종합순위,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익점수,영업활동점수,더큰영업활동점수,종합점수
A009200,3.82,37.0,0.25,7.5,0.10,35.5,1.01,14.0,1.0,409,10346,12701,698,1161,6456,19157,True,True,True,3.0
A058650,4.52,58.5,0.33,32.0,0.13,65.5,1.78,36.5,3.0,2111,47944,22088,2746,2647,30460,52548,True,True,True,3.0
A016710,6.06,122.0,0.32,26.0,0.14,77.0,2.32,54.0,7.0,322,9031,5851,245,634,5211,11062,True,True,True,3.0
A014790,4.10,44.0,0.49,165.0,0.12,57.5,3.36,108.0,10.0,466,16415,18215,1495,770,3926,22141,True,True,True,3.0
A006200,8.55,250.5,0.30,21.0,0.15,88.5,2.14,45.5,14.0,50,2464,1423,62,158,2625,4048,True,True,True,3.0
A013310,6.25,133.0,0.48,150.5,0.16,100.5,1.47,26.0,15.0,107,4279,3630,224,370,1443,5073,True,True,True,3.0
A200880,7.95,218.0,0.41,82.0,0.14,77.0,2.48,58.0,16.0,304,20075,10922,-122,1409,6727,17648,True,True,True,3.0
A092780,4.52,58.5,0.64,327.5,0.14,77.0,1.78,36.5,19.0,94,2942,2123,190,181,863,2986,True,True,True,3.0
A015750,11.74,431.0,0.39,68.0,0.11,48.5,1.42,24.0,23.0,293,33664,22016,608,3387,11836,33852,True,True,True,3.0
A005710,4.61,60.0,0.62,295.5,0.20,148.5,3.63,130.0,30.5,340,7970,1713,426,590,2524,4238,True,True,True,3.0