In [217]:
# def make_fs_dataframe(firm_code): #재무데이터 만드는 함수
# def make_fr_dataframe(firm_code): #재무비율 데이터 만들기함수
# def make_invest_dataframe(firm_code): #투자지표 만드는 함수
# def change_df(firm_code, dataframe): #데이터프레임의 행과열을 바꾸는 함수 만듬 
# def come_code(): #종목코드 불러오기함수
# def make_total_fs_df(): #전 종목 재무데이터 만드는 함수
# def make_total_fr_df(): #전 종목 재무비율데이터 만드는함수
# def make_total_invest_df(): #전 종목 투자지표데이터 만드는함수
# def make_price_dataframe(code, timeframe, count): #가격데이터 함수지정 종목코드, 시간, 갯수
# def make_total_price_df(): #전종목 가격데이터 함수

In [218]:
import pandas as pd
import requests
import time
import numpy as np
import bs4

In [219]:
from mod.fndata import make_fs_dataframe

In [220]:
from mod.fndata import make_fr_dataframe

In [221]:
from mod.fndata import make_invest_dataframe

In [222]:
from mod.fndata import change_df

In [223]:
from mod.fndata import come_code

In [224]:
from mod.fndata import make_total_fs_df

In [225]:
from mod.fndata import make_total_fr_df

In [226]:
from mod.fndata import make_total_invest_df

In [227]:
from mod.fndata import make_price_dataframe

In [228]:
from mod.fndata import make_total_price_df

In [229]:
come_code()

         종목코드     기업명
0     A060310      3S
1     A095570  AJ네트웍스
2     A006840   AK홀딩스
3     A054620  APS홀딩스
4     A265520   AP시스템
...       ...     ...
2378  A189980  흥국에프엔비
2379  A000540    흥국화재
2380  A003280    흥아해운
2381  A037440      희림
2382  A238490      힘스

[2383 rows x 2 columns]

In [ ]:
make_total_fs_df(code_data)